@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Fondos */
  --color-fondo-general: #f5efef;
  --color-fondo-login: #cbb8a0;
  --color-fondo-card: #f3ebd6;
  --color-fondo-formulario: #f3ebd6;

  /* Bordes */
  --color-borde: #ecb914;

  /* color de reserva #c0a427; */

  /* Texto */
  --color-texto: #4f3d35;
  --color-texto-formulario: #33241eb2;

  /* Botones */
  --color-boton: #f6d579;
  --color-boton-hover: #ecb914;
  --color-boton-eliminar: #db1515;
  --color-boton-eliminar-hover: #ff0000;
}

:root {
  --ui-primary: var(--color-borde);
}
